<div class="container">
        
    <h1 class="text-center">About Us!</h1><br>
    <p>
        Whether you just moved into a new home or looking to revamp your current one, we at <b>Shopsy </b>
           here to inspire you with affordable home furniture solutions, there is a piece of furniture to every 
           corner of your home. Create a home that is perfect for you.
   
           Shopping at <b> Shopsy </b>is a bit different and exciting compared to your shopping at an everyday retail. 
           It is about experiencing solutions first hand and getting to know ideas and inspirations that can fit 
           perfectly into your home.<br><br>

           When you visit <b>Shopsy</b> store, make yourself at home in our many room settings in the store. 
           Squeeze the upholsteries, feel the oriental rugs, try the sofa beds and open the cabinets to feel the 
           quality. On the price tag, you'll find all you need to know about a product, including where in the store 
           you can pick it up.

           Since most <b>Shopsy</b> furniture is flat-packed, they are quite easy to bring home when you buy 
           from the store.
    </p> 
</div>
   