<div class="container">
    <div class="heading text-center">
        <h2>GIVE US A SHOUT</h2>
        <hr>
        <h4>USE THE FORM BELOW TO DROP US A MESSAGE</h4>
        <h4>OLD FASHIONED PHONE CALLS WORK TOO...</h4>
    </div>
    <br>
    <div class="row">
        <!--left part-->
        <div class="c1 col-md-8">
           
           <form id="contact" [formGroup]="formValue">
            <h3>We'd Love To Hear <br>From You!</h3>
            
            <fieldset>
              <input placeholder="Your name" formControlName="name" class="form-control" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
              <input placeholder="Your Email Address" formControlName="email" class="form-control" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
              <textarea placeholder="Type your message here...." formControlName="msg" class="form-control" tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
              <button name="submit" type="submit" (click)="postFeedbackDetails()" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
            
          </form>
        </div>

        <!--right part-->
        <div class="c1 col-md-4">
             
            <!-- Links -->
            <h3 class="topic">Contact Us</h3><br>
            <div class="details">
                <div><a href="#">
                    <i class="fa-solid fa-location-dot"></i>
                Office #38, Suite 54, Elizebeth Street, Victoria State, NewYork, USA 33026</a><hr>
                </div>
                <div><a href="#">
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i> 1038 000 129900</a><hr>
                </div>
                <div><a href="#">
                    <i class="fa-envelope-o fa-2x" aria-hidden="true"></i> info@shopsy-furniture.net</a><hr>
                </div>
                <div class="social">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" target="_blank"><i class="bi bi-facebook"> </i></a>
                        <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    
</div>